* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-color: #140f07;
    color: #FFF;
}

#main-title {
    padding: 1.2rem 0;
    border-bottom: 3.1rem;  
    font-size: 1.4rem;
    text-align: center;
    background-color: #102d4b;
}

#score-container {
    width: 18.7rem;
    margin: 3.1rem auto;
    padding: 1.8rem;
    border-radius: .31rem;
    background-color: #096eae;
    text-align: center;
}

#score-container p {
    font-size: .875rem;
    margin: 1.25rem 0;
}

#score-container #display-score {
    font-size: 2rem;
    font-weight: 500;
}

#correct-answers {
    font-weight: bold;
    color: #0efff9;

}

#questions-qty {
    font-weight: bold;
    color: #140f07;
}

#restart {
    height: 3.1rem;
    width: 11.25rem;
    border-radius: 1.56rem;   
    margin-top: 1.25rem;
    transition: .5s;
    border: 2px solid transparent;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #140f07;
    color: #FFF;
    font-weight: bold;
}

#restart:hover {
    border-color:#140f07 ;
    color: #140f07;
    background-color: transparent;
}

#quizz-container {
    width: 31.25rem;
    margin: 3.1rem auto;
    padding: 1.56rem;
    border-radius: .31rem;
    border: 1px solid #096eae;
}

#question {
    margin-bottom: 1.56rem;
    font-size: 1.25rem;
    text-align: center;
}

#question-number{
    font-weight: bold;
}

#answers-box button{
    width: 18.75rem;
    height: 3.1rem;
    margin: 1rem 0;
    border-radius: .31rem;
    padding-left: .31rem;
    transition: .5s;
    border: 2px solid transparent;
    display:flex;
    align-items: center;
    text-align: left;
    background-color: #096eae;
    color: #000;
    cursor: pointer;
}

#answers-box button:hover {
    background-color:#08bbff;
    color: #FFF;
}

#answers-box .btn-letter {
    font-size: 1.875rem;
    line-height: 2.5rem;
    flex: 1 1 0;
    max-width: 2.5rem;
    border-radius: .31rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #08bbff;
    color: #FFF;
}

.question-answer{
    flex: 1 1 0;
    margin-left: .625rem;
    font-size: 1rem;
    font-weight: bold;
    color: #FFF;
}

#quizz-container .correct-answer,
#quizz-container .correct-answer .btn-letter {
    background-color: #0efff9;
}

#quizz-container .wrong-answer,
#quizz-container .wrong-answer .btn-letter{
    background-color: transparent;
}


.hide{
    display: none !important;
}

/* mobile */


@media(max-width:520px) {
    #quizz-container{
        border: none;
        width: 100%;
    }

    #answers-box button{
        width: 100%;
    }
    #score-container {
        width: 80%;
    }
    #restart{
        width: 80%;
    }
}






